{% extends 'products/base.html' %}
{% load static %}
{% block start %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'products/css/products_style.css' %}">
  </head>
  <body>
    <div class="product-grid">
      {% for i in products %}
      <a href="{% url 'product_detail' i.slug %}" class="product-link">
        <div class="product">
          <img src="{{ i.image.url }}" alt="{{ i.name }}">
          <h3>{{ i.name }}</h3>
          <p class="price">{{ i.price }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </body>
</html>
{% endblock %}
